audio(src="https://mastermedia.shoutca.st/proxy/prviradions?mp=/stream")

.player-time
  button.play-btn

  .time-num 00:00

  button.stop-btn

.player-volume
  button.speaker-btn

  .volume-num 100
  
  input.volume-range(type="range", min="0", max="100" value="100")

include includes/marquee.pug