audio#av-tag(src="https://mastermedia.shoutca.st/proxy/prviradions?mp=/stream", controls)

.player-time
  button.play-btn#play-btn
    img#play-img.play(src="img/player/play.svg", alt="")

  #play-time 1:00
  input#cur-time(type="range", min="0", max="10", step="0")

.player-volume
  button#speaker-btn
    img.speaker#speaker-img(src="img/player/speaker.svg")

  #value-num 50
  input#volume(type="range", min="0", max="100" volume="50")

include includes/marquee.pug