.player {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  width: 300px;
  padding: 20px;
  border: 2px solid var(--bor);
  border-radius: 20px;
}

.player * {
  vertical-align: middle;
  background: none;
  border: none;
}


/*******************
PLAYER TIME
*******************/
.player-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.play-btn {
  width: 40px;
  height: 40px;
  background-image: url(../img/player/play.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.5s;
}

.play-btn:hover {
  transform: rotate(360deg) scale(1.2);
}

.play-btn.pause {
  background-image: url(../img/player/pause.svg);
}

.time-num {
  width: 50px;
  text-align: center;
}

.stop-btn {
  width: 40px;
  height: 40px;
  background-image: url(../img/player/stop.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.5s;
}

.stop-btn:hover {
  transform: rotate(360deg) scale(1.2);
}


/*******************
PLAYER VOLUME
*******************/
.player-volume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.speaker-btn {
  width: 40px;
  height: 40px;
  background-image: url(../img/player/speaker.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.5s;
}

.speaker-btn:hover {
  transform: rotate(360deg) scale(1.2);
}

.speaker-btn.mute {
  background-image: url(../img/player/mute.svg);
}

.volume-num {
  width: 50px;
  text-align: center;
}

.volume-range {
  width: 150px;
}

@import 'includes/marquee';