.footer {
  padding: 10px;
}

.footer-title {
  padding: 10px;
  font-family: monospace;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
  border: 5px solid var(--bor);
  border-radius: 20px;
}

.footer a {
  text-decoration: none;
  color: blue;
}

@media (max-width: 576px) {
  .footer {
    padding: 0;
  }

  .footer-title {
    padding: 0;
    border: none;
    box-shadow: none;
  }
}