h2 Listen online radio

a#radio__site(href="https://prviradio.rs/radiochannel/prvi-radio-novi-sad/" title="https://prviradio.rs/radiochannel/prvi-radio-novi-sad/")
  img.radio__logo#radio__logo(src="img/radio/srb-prvi-novi-sad.png", alt="logo Prvi Radio Novi Sad")

.radio__description
  #radio__title Prvi Radio Novi Sad
  #radio__country Srbija
