h2 Select country
.content__menu
  .content__menu-link#content__menu-link1 Россия
  .content__menu-link#content__menu-link2 Беларусь
  .content__menu-link#content__menu-link3 Srbija
  .content__menu-link#content__menu-link4 Hrvatska
  .content__menu-link#content__menu-link5 BiH

.content__menu
  .content__menu-link#content__menu-link6 http Srbija
  .content__menu-link#content__menu-link7 http Hrvatska
  .content__menu-link#content__menu-link8 http BiH
