h2 Select radio station
.content__items


  #content__item1
    h3.country-title Россия

    .stanica#rus_novoe Новое радио

    .stanica#rus_horoshee Хорошее радио

    .stanica#rus_skazka Сказка FM

    .stanica#rus_umnoe Умное FM


  #content__item2
    h3.country-title Беларусь

    .stanica#bel_1kanal 1 канал

    .stanica#bel_stalica Сталiца

    .stanica#bel_kultura Культура

    .stanica#bel_radius Радиус FM


  #content__item3
    h3.country-title Srbija

    .stanica#srb_prvinsad Prvi Radio Novi Sad

    .stanica#srb_prvisubo Prvi Radio Subotica

    .stanica#srb_prviuzice Prvi Radio Užice

    .stanica#srb_prvikafa Prvi Radio Kafanica

    .stanica#srb_prvi90 Prvi Radio 90-te

    .stanica#srb_prvicafe Prvi Radio Cafe

    .stanica#srb_prvitren Prvi Radio Trending

    .stanica#srb_prviyu Prvi Radio YU kolekcija

    .stanica#srb_in Radio In Beograd

    .stanica#srb_aparat Radio Aparat Beograd

    .stanica#srb_puls Radio Puls Grocka

    .stanica#srb_012 Radio 012 Požarevac

    .stanica#srb_asfm Radio AS FM Novi Sad

    .stanica#srb_sputnjik Radio Sputnjik

    .stanica#srb_101 Radio 101 Beograd


  #content__item4
    h3.country-title Hrvatska

    .stanica#hrv_1 Radio 1 Čakovec

    .stanica#hrv_105 Radio 105 Selnica


  #content__item5
    h3.country-title BiH

    .stanica#bih_8 Radio 8 Sarajevo


hr
.up
  a(href="#header") Up
hr