|
|

a.social__icon.social__icon_wa(href = 'https://wa.me/79507658158', title = 'WhatsApp')
|
|

a.social__icon.social__icon_vk(href = 'https://vk.com/benchpress250', title = 'ВКонтакте')
|
|

a.social__icon.social__icon_tg(href = 'https://t.me/Frontend200tb', title = 'Telegram')
|
|

a.social__icon.social__icon_ig(href = 'https://www.instagram.com/frontend200tb/', title = 'Instagram')
|
|

a.social__icon.social__icon_github(href = 'https://github.com/frontend200tb', title = 'GitHub')
|
|

a.social__icon.social__icon_cp(href = 'https://codepen.io/ivan200tb/', title = 'Codepen')
|
|

a.social__icon.social__icon_cw(href = 'https://www.codewars.com/users/frontend200tb', title = 'Codewars')
|
|

a.social__icon.social__icon_replit(href = 'https://replit.com/@frontend200tb', title = 'Repl.it')
|
|

a.social__icon.social__icon_yt(href = 'https://www.youtube.com/channel/UCxQkWhcXUes0CdxvJH3B7Ug', title = 'Youtube')
|
|

a.social__icon.social__icon_fb(href = 'https://www.facebook.com/frontend200tb', title = 'Facebook')
|
|

a.social__icon.social__icon_tw(href = 'https://twitter.com/frontend200tb', title = 'Twitter')
|
|
